$primary: #C9847A;
$secondary: #F5EDE4;
$light: #FAF8F6;

$border-radius: 1rem;

$font-family-base: 'DM Sans', sans-serif;

$headings-font-family: 'DM Serif Display', serif;

@import "../../node_modules/bootstrap/scss/bootstrap";